/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* ===== Colors ===== */
  --primary-color: #0e4bf1;
  --panel-color: #fff;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #4da3ff;
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  --title-icon-color: #fff;

  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

body {
  min-height: 100vh;
  /* background-color: var(--primary-color); */
}
body.dark {
  --primary-color: #3a3b3c;
  --panel-color: #242526;
  --text-color: #ccc;
  --black-light-color: #ccc;
  --border-color: #4d4c4c;
  --toggle-color: #fff;
  --box1-color: #3a3b3c;
  --box2-color: #3a3b3c;
  --box3-color: #3a3b3c;
  --title-icon-color: #ccc;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
  background: #3a3b3c;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: var(--tran-05);
}
nav.close {
  width: 73px;
}
nav .logo-name {
  display: flex;
  align-items: center;
}
nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}
nav .logo-image img {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

nav .logo-name .logo_name {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
}
nav.close .logo_name {
  opacity: 0;
  pointer-events: none;
}
nav .menu-items {
  margin-top: 40px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-items li {
  list-style: none;
}
.menu-items li a {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}
.nav-links li a:hover:before {
  content: '';
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
body.dark li a:hover:before {
  background-color: var(--text-color);
}
.menu-items li a i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);
}
.menu-items li a .link-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--black-light-color);
  transition: var(--tran-05);
}
nav.close li a .link-name {
  opacity: 0;
  pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name {
  color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
  color: var(--text-color);
}
.menu-items .logout-mode {
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}
.menu-items .mode {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.menu-items .mode-toggle {
  position: absolute;
  right: 14px;
  height: 50px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mode-toggle .switch {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
}
.switch:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: var(--panel-color);
  border-radius: 50%;
  transition: var(--tran-03);
}
body.dark .switch:before {
  left: 20px;
}

.dashboard {
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: var(--tran-05);
}
nav.close ~ .dashboard {
  left: 73px;
  width: calc(100% - 73px);
}
.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: var(--panel-color);
  transition: var(--tran-05);
  z-index: 10;
}
nav.close ~ .dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle {
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}
.dashboard .top .search-box {
  position: relative;
  height: 45px;
  max-width: 600px;
  width: 100%;
  margin: 0 30px;
}
.top .search-box input {
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  padding: 0 25px 0 50px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  outline: none;
}
.top .search-box i {
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-light-color);
}
.top img {
  width: 40px;
  border-radius: 50%;
}
.dashboard .dash-content {
  padding-top: 50px;
}
.dash-content .title {
  display: flex;
  align-items: center;
  margin: 60px 0 30px 0;
}
.dash-content .title i {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.dash-content .title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}
.dash-content .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dash-content .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 3 - 15px);
  padding: 15px 20px;
  background-color: var(--box1-color);
  transition: var(--tran-05);
}
.boxes .box i {
  font-size: 35px;
  color: var(--text-color);
}
.boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}
.boxes .box .number {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
}
.boxes .box.box2 {
  background-color: var(--box2-color);
}
.boxes .box.box3 {
  background-color: var(--box3-color);
}
.dash-content .activity .activity-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.activity .activity-data {
  display: flex;
}
.activity-data .data {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
.activity-data .data-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}
.activity-data .data .data-list {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  white-space: nowrap;
  color: var(--text-color);
}

@media (max-width: 1000px) {
  nav {
    width: 73px;
  }
  nav.close {
    width: 250px;
  }
  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo_name {
    opacity: 1;
    pointer-events: auto;
  }
  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }
  nav ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard {
    left: 250px;
    width: calc(100% - 250px);
  }
  nav ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard .top {
    left: 250px;
    width: calc(100% - 250px);
  }
  .activity .activity-data {
    overflow-x: scroll;
  }
}

@media (max-width: 780px) {
  .dash-content .boxes .box {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }
}
@media (max-width: 560px) {
  .dash-content .boxes .box {
    width: 100%;
  }
}
@media (max-width: 400px) {
  nav {
    width: 0px;
  }
  nav.close {
    width: 73px;
  }
  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav ~ .dashboard {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
}

/* content form start */
/* Tambahkan CSS ini di bagian bawah file admin.css */

.content {
  padding: 20px;
  margin-top: 50px; /* Menjaga jarak dari elemen 'top' */
}


.content form input[type='text'] {
  padding: 10px;
  margin-right: 10px;
  width: 300px;
}

.content form button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.content form button:hover {
  background-color: #0056b3;
}

.content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.content table,
.content th,
.content td {
  border: 1px solid #ddd;
  text-align: left;
}

.content th,
.content td {
  padding: 12px;
}

.content th {
  background-color: #f2f2f2;
}

.content button {
  padding: 5px 10px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.content button:hover {
  background-color: #007bff;
}

.content button.delete {
  background-color: #dc3545;
}

.content button.delete:hover {
  background-color: #c82333;
}

/* content */
/* Detail Section CSS */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: left;
}

.container {
  position: relative;
  margin: auto;
  max-width: 60%;
}

.mySlides {
  display: none;
}

.mySlides img {
  height: 100%;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.column img {
  height: 100%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.all-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    max-width: 80%;
  }
  .prev,
  .next {
    font-size: 18px;
    padding: 12px;
  }
  .column {
    width: 25%;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
  }
  .prev,
  .next {
    font-size: 16px;
    padding: 10px;
  }
  .column {
    width: 33.33%;
  }
}

/* Form Styles */
/* Slideshow Gallery */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.column img {
  height: 100%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.all-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.project img {
  max-width: 100%;
  height: auto;
}

/* Form Styles */

/* Responsive Styles */
@media (max-width: 768px) {
  .content-container-detail {
    flex-direction: column;
    padding: 0 5%;
  }

  .pundak-kiri,
  .pundak-kanan {
    width: 100%;
    max-width: 100%;
  }
}

/* content form end */
.project-form {
  background: #f4f4f4; /* Match with dashboard background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.project-form h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.project-form label {
  display: block;
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

.project-form input[type='text'],
.project-form textarea,
.project-form input[type='file'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box; /* Include padding in width */
}

.project-form textarea {
  height: 100px;
  resize: vertical;
}

.project-form button {
  background: #007bff; /* Consistent with other buttons in dashboard */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.project-form button:hover {
  background: #0056b3;
}

/* card start */
* Home Section Start */ .content-container {
  display: flex;
  flex-direction: column;
  padding: 35% 10%;
  height: 100vh;
  justify-content: center;
  background: url('../assets/bg.jpg');
  background-size: cover;
}

.konten1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.konten1 h2 {
  font-weight: 500;
  color: #1a1a1a;
}

.konten2 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.konten2 h2 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #1a1a1a;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card-list .card-item img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.card-list .card-item {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Membuat tiga baris: untuk judul, konten, dan panah */
  background: #fff;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
  position: relative;
}

.card-item h3 {
  color: #1a1a1a;
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: 500;
}
.card-item .arrow {
  grid-row: 3; /* Menempatkan panah di baris ketiga grid */
  justify-self: end; /* Memposisikan panah di sudut kanan bawah */
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  margin-top: 20px;
  transition: 0.2s ease;
}
.card-list .card-item:hover .arrow {
  background: #000;
  color: #fff;
}

/* button */
.button-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.edit-btn {
  background-color: #007bff; /* Tailwind's blue-500 */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease; 
  text-decoration: none;
}

.edit-btn:hover {
  background-color: #007bff; /* Tailwind's blue-600 */
}

.delete-btn {
  background-color: #ef4444; /* Tailwind's red-500 */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #dc2626; Tailwind's red-600

}
@media (max-width: 1200px) {
  .card-list .card-item {
    padding: 15px;
  }
}
@media screen and (max-width: 980px) {
  .card-list {
    margin: 0 auto;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
  border-radius: 8px;
  overflow: hidden;
}

table th, table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

table th {
  background-color: #009879;
  color: white;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f3f3f3;
}

table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

table img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

/* Form styling */
.project-form {
  margin-top: 30px;
}

.project-form h2 {
  color: #009879;
  font-size: 24px;
  margin-bottom: 20px;
}

.project-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-form label {
  font-weight: bold;
}

.project-form input, .project-form button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.project-form button {
  background-color: #009879;
  color: white;
  border: none;
  cursor: pointer;
}

.project-form button:hover {
  background-color: #007a63;
}


        /* Tambahkan CSS di sini untuk mengatur ukuran gambar */
        .card-content img {
          width: 100%;
          /* Mengatur lebar gambar menjadi 100% dari elemen induk */
          height: 200px;
          /* Mengatur tinggi gambar sesuai keinginan */
          object-fit: cover;
          /* Memastikan gambar tidak terdistorsi dan memotong gambar jika perlu */
      }

      /* Tambahan CSS lainnya jika perlu */

      .pagination {
        display: flex;
        justify-content: flex-end; /* Aligns items to the right */
        margin-top: 20px; /* Optional: Adds some space above the pagination */
        margin-right: 20px;
    }

    .pagination a,
    .pagination strong {
        margin: 0 5px; /* Optional: Adds spacing between pagination items */
        text-decoration: none; /* Remove underline from links */
        color: var(--primary-color); /* Change the color of the links */
        font-weight: 500; /* Optional: Makes the text a bit bolder */
    }

    .pagination a:hover {
        text-decoration: underline; /* Underline on hover for better UX */
    }